:root{
    --white-color:#fff;
    --btn-hover:#333;
    --btn-defaultcolor:#333;
    --primary-color:rgb(51,122,183);
    --primary-colorborder:rgb(46,109,164);
    --primary-hover:#286090;
    --primary-hoverborder:#204d74;
    --warning-color:#f0ad4e;
    --warning-colorborder:#eea236;
    --primary-hover:#286090;
    --primary-hoverborder:#204d74;
    --warning-color:#f0ad4e;
    --warning-colorborder:#eea236;
    --warning-hover:#ec971f;
    --warning-hoverborder:#d58512;
    --info-color:#5bc0de;
    --info-colorborder:#46b8da;
    --info-hover:#31b0d5;
    --info-hoverborder:#269abc;
    --success-color:#5cb85c;
    --success-colorborder:#4cae4c;
    --success-hover: #449d44;
    --success-hoverborder:#398439;
}
/* Basic button styling starts Here */
.btn{
    display:inline-block;
    margin-bottom: 0;
    font-weight:400;
    text-align:center;
    border-radius:4px;
    font-size:14px;
    border:1px solid transparent;
    padding:6px 12px;
    line-height: 1.42;
    cursor:pointer;
    font-family: inherit;
    max-width:300px;
}
.btn-round{
    
    border-radius:50%;
    min-height:80px;
    min-width:80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn[disabled]{
    cursor: not-allowed;
    opacity:1;
    box-shadow: none;
}
.btn:active{
    outline:none;
    box-shadow:inset 0 3px 5px rgba(0 0 0 0.13)
}
.btn:hover{
    color:var(--btn-hover);
}
/* large btn class */
.btn-lg{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
/* small btn class */
.btn-sm{
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
/* default btn class */
.btn-default{
    color:var(--btn-defaultcolor);
    background-color:var(--white-color);
    border-color:var(--white-color);
}
/* primary btn class */
.btn-primary{
    color:var(--white-color);
    background-color:var(--primary-color) ;
    border-color:var(--primary-colorborder);
}
.btn-primary:hover{
    color:var(--white-color);
    background-color:var(--primary-hover);
    border-color: var(--primary-hoverborder);
}
/* btn warnng class */
.btn-warning{
    color:var(--white-color);
    background-color:var(--warning-color);
    border-color:var(--warning-colorborder);
}
.btn-warning:hover{
    color:var(--white-color);
    background-color:var(--warning-hover) ;
    border-color:var(--warning-hoverborder) ;
    
}
/* btn info class */
.btn-info {
    color:var(--white-color);
    background-color: var(--info-color);
    border-color: var(--info-colorborder);
}
.btn-info:hover {
    color:var(--white-color);
    background-color: var(--info-hover);
    border-color:var(--info-hoverborder) ;
}
/* btn-link class */
.btn-link{
    color:inherit;
    border-radius:0;
    border-color:transparent;
    box-shadow:none;
    padding: 0px;
}
.btn-link:focus,.btn-link:hover{
    color:inherit;
    text-decoration: underline;
    background-color: transparent;
}
/* btn-success class */
.btn-success {
    color: var(--white-color);
    background-color: var(--success-color);
    border-color:var(--success-colorborder) ;
}
.btn-success:hover{
color: var(--white-color);
background-color:var(--success-hover);
border-color:var(--success-hoverborder) ;
}

.avatar{
    height:80px;
    width:80px;
    border-radius:50%;
}