.list {
  list-style-type: None;
  background-color: white;
  padding: 1.8rem 1.2px;
}
.stacked {
  list-style-type: none;
  padding-left: 10px;
}

.iframe-style {
  height: 350px;
  background-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
}
